.sidebarToggle{
  min-width: 2em;
  max-width: 3em;
}

.rotate90deg{
  transform: rotate(-90deg);
  transform-origin: center;
}

@media(max-width:576px){
  .headerButton{
    max-width: 20em;
  }
}

@media(min-width:576px){
  .headerButton{
    max-width: 12em;
  }
}

.cardCountBtnAndP {
  width: 37.6px;
  height: 37.6px;
}